html {
  height: 100%;

}

input {
  height: 20px;
}

button {
  height: 20px;

}
body {
  height: 100%;
  width: 100%;
  font-family: "Open Sans", sans-serif;
}

h1 {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 50px;
  margin: 40px;
}

img {
  height: 50px;
  width: 80px;
  margin-left: 10px;
}

.new-bookmarks {
  background-color: #455A64;
  width: 50%;
  height: 100%;
  position: absolute;
  vertical-align: middle;
}

.bookmarks {
  background-color: #cfd8dc;
  width: 50%;
  height: 100%;
  align-content: center;
  position: absolute;
  right: 0;
}

.card {
  width: 550px;
  height: 210px;
  margin: 45px;;
  border: solid 2px #607d8b;
  display: block;
  background-color: #ffffff;
}

.title-input {
  height: 40px;
  width: 400px;
  margin: 20px 0;
}

.url-input {
  height: 40px;
  width: 400px;
  margin: 20px 0;
}

.left-buttons {
  height: 100%;
  text-align: center;
}

.enter {
  padding: 20px 40px 40px 40px;
  width: 400px;
  background-color: #ffc107;
  font-weight: 800;
  text-decoration: none;
  color: #ffffff;
  margin: 20px 0;
  font-size: 20px;
  border: 0;
  box-shadow:none;
  border-radius: 0px;
}

.clear-read {
  background-color: #cfd8dc;
  height: 40px;
  width: 250px;
  font-size: 15px;
  margin: 20px;
  color: #455a64;

}

.bookmark-title {
  border-bottom: solid 2px #cfd8dc;
  padding: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 35px;
  color: #455A64;
}

.bookmark-URL {
  border-bottom: solid 2px #cfd8dc;
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  color: #455A64;
  text-decoration: none;
  margin-top: 25px;
  margin-left: 10px;
}

.bookmark-read {
  font-family: "Open Sans", sans-serif;
  color: #455A64;
  text-decoration: none;
  font-size: 20px;
  border: none;
  background: none;
  margin-top: 50px;
  margin-left: 10px;
}

.bookmark-read:hover{
  border-bottom: 5px solid #ffc107;
}

.bookmark-URL:hover{
  border-bottom: 5px solid #ffc107;
}

button {
  height: 30px;
}

.bookmark-remove {
  font-family: "Open Sans", sans-serif;
  color: #455A64;
  text-decoration: none;
  font-size: 20px;
  border: none;
  background: none;
  margin-top: 50px;
  margin-left: 390px;
}

.bookmark-remove:hover {
  border-bottom: 5px solid #ffc107;
}

.bookmark-read:visited {
  color: #f05a28;
}

p {
  color: #cfd8dc;
}

.counters {
  color: #cfd8dc;
}

.counters > span {
  padding-right: 20px;
}

input {
  font-size: 25px;
}

.read {
  color: #f05a28;
}

@media screen and (max-width: 850px) {

.new-bookmarks {
  width: 100%;
  height: 50%;
  background-color: #455A64;
  position: static;
}

.bookmarks {
  background-color: #cfd8dc;
  width: 100%;
  height: 50%;
  position: static;
}
@media screen and (max-width: 600px) {
  .card {
    width: 430px;
    height: 200px;
    text-align: center;
  }
}

@media screen and (max-width: 420px) {


.card {
  width: 300px;
  height: 110px;
  margin: 25px;;
}

.title-input {
  height: 30px;
  width: 300px;

}

.url-input {
  height: 30px;
  width: 300px;

}

.enter {
  padding: 20px 40px 40px 40px;
  width: 300px;
}



}
